{#
/**
 * Stripe Payments plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal LLC
 */
#}

{% import "_includes/forms" as forms %}
<div class="meta">

    {{ forms.lightswitchField({
        label: "Enabled"|t('enupal-stripe'),
        id: 'enabled',
        name: 'enabled',
        on: connect.enabled
    }) }}
</div>