<h3>Help & Documentation</h3>
<p>These are the Stripe Payments example templates.</p>
<p>We do not recommend using these as-is for your site, but extract portions and customize them for your site.</p>
<p>Here are some resources to get you started.</p>
<ul>
  <li><a href="https://docs.enupal.com/stripe">Stripe Payments Documentation</a>.</li>
</ul>