{#
/**
 * EnupalStripe plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "enupal-stripe/_layouts/elementindex" %}
{% set title = "Paypal Buttons"|t %}
{% set elementType = 'enupal\\stripe\\elements\\StripeButton' %}
{% do view.registerAssetBundle("enupal\\stripe\\web\\assets\\FontAwesomeAsset") %}
{% block actionButton %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('enupal-stripe/buttons/new') }}">{{ "New Stripe Button"|t('enupal-stripe') }}</a>
    </div>
{% endblock %}
