{% spaceless %}
    <form action="{{ button.getReturnUrl }}" class="enupal-stripe-form" method="POST">
        <button id="customButton" class="enupal-stripe-button"><span>Purchase</span></button>
        <input type="hidden"  name='publishableKey' value="{{ settings.testPublishableKey }}">
    </form>
{% endspaceless %}