{%- set handle = "multi-plan-dropdown" %}
{%- set required = false  %}
<select
        name="enupalMultiPlan"
        id="{{ handle }}"
        class="{{ handle }}"
        required aria-required="true"
>
    {% for key,block in matrixField %}

        {%- set optionLabel = (block.customLabel ? block.customLabel : craft.stripeButton.getDefaultPlanName(block.selectPlan)) -%}
        {%- set optionValue = (block.selectPlan is defined ? block.selectPlan : key) -%}

        <option value="{{ optionValue }}"
        >{{ optionLabel }}</option>
    {% endfor %}
</select>