<div class="btn menubtn">{{ "Set status"|t }}</div>
<div class="menu">
    <ul>
        <li><a class="formsubmit" data-param="status" data-value="0"><span class="status green"></span> New</a></li>
        <li><a class="formsubmit" data-param="status" data-value="1"><span class="status blue"></span> Processed</a></li>
    </ul>
</div>
