<nav>
    <ul class="">
        <li>
            <div id="enupal-stripe-cart">
                <a href="#">🛒 <strong data-cart-render="item_count"></strong></a>
            </div>
        </li>
    </ul>
</nav>
