<nav>
    <ul class="">
        <li>
            <a href="/store/">Store</a>
        </li>
        <li>
            <a id="enupal-stripe-cart" href="#">
                <i class="fa" style="font-size:24px">&#xf07a;</i>
                <span class='badge badge-warning' id='lblCartCount' data-cart-render="item_count"></span>
            </a>
        </li>
    </ul>
</nav>
